<a href="https://colab.research.google.com/github/SMAsaduzzaman/Python-Assignment-03/blob/main/Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align=center style="color: navy;"> <b> Title:</b> Python Assignment 03 </h1>
<h1 align=center style="color: navy;"> <b> Course Instructor:</b> Farhana Afrin Duty </h1>
<h2 align=center style="color: navy;"> <b> Name:</b> S M Asaduzzaman </h2>
<h2 align=center style="color: navy;"> <b> Roll:</b> 20229017 </h2>

In [6]:
#Mounting/connecting google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [85]:
#importing the impartant library

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Problem 01: Write a Python program to count the number of characters (character frequency) in a string.

In [ ]:
#importing the defaultfict library for creating a default dictionary
from collections import defaultdict
#creating a function for counting the charactes in a sting
def count(data: str):
    chars = defaultdict(int)
    for char in data:
        chars[char]+=1
    #sorting the dictionary Descending wise for item
    chars=dict(sorted(chars.items(),key=lambda item: item[1],reverse=True))  
    return chars

In [ ]:
#checking the sample input 
chars=count('google.com')
print(chars)

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

# Problem02: Write a Python program to check if a given key already exists in a dictionary.

In [ ]:
#given dictionary
given_dict={'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
#custom function for checking dictionary
def check_key():
    key=input("Type your Key: ")
    if key in given_dict:
        print("Your typed key is existed in the dictionary")
    else:
        print("Your typed key is not existed in the dictionary")

In [ ]:
#taking user input as 'e'
check_key()

Type your Key: e
Your typed key is existed in the dictionary

In [ ]:
#taking user input as 'd'
check_key()

Type your Key: d
Your typed key is not existed in the dictionary

# Problem 03: Write a Python program that accepts a sequence of comma-separated numbers fromtheuser and generates a list and a tuple of those numbers.

In [ ]:
#Custom function for tuple create from a sting
def create_list_tuple(text):
    separators = ','
    list_A = []
    tuple_A = ()
    num_str = ''
    for i in text:
        if i != separators:
            num_str += i
        else:
            num=num_str.strip()
            print(num)
            list_A.append(num)
            tuple_A += (num,)
            num_str = ''
    if num_str:
        num=num_str.strip()
        list_A.append(num)
        tuple_A += (num,)
    print(f"List: {list_A}\nTuple: {tuple_A}")

In [ ]:
#taking a user input
text=input("type using comma-seperator : ")
#converting it to list and tuple
create_list_tuple(text)

type using comma-seperator :  1, 5, 7, 23
1
5
7
List: ['1', '5', '7', '23']
Tuple: ('1', '5', '7', '23')

# Problem 04: Write a Python program to calculate the number of days between two dates. Sample dates

In [ ]:
#Write a Python program to calculate the number of days between two dates. 
import datetime as dt

# define the two dates as tuples
date1=(2014,7,2)
date2 = (2014, 7, 11)

# convert the tuples to datetime objects
date1_obj=dt.date(*date1)
date2_obj=dt.date(*date2)

# calculate the number of days between the two dates
delta= date2_obj-date1_obj

# print the result
print(delta.days,"days")

9 days

# Problem 05: Write a Python program to solve (x + y) * (x + y). Test Data : x = 4, y = 3

In [ ]:
#custom function for adding and square of two numbers
def add_square(x,y):
    result=(x+y)**2
    print(f"(({x}+{y})^2)={result}")

In [ ]:
#checking the sample input
add_square(4,3)

((4+3)^2)=49

# Problem 06: Write a Python program to compute the future value of a specified principal amount,rate of interest, and number of years. 
Test Data : amt = 10000, int = 3.5, years = 7 
Expected Output : 12722.79

In [ ]:
#custom function for future value for a specified principle ammount calculation
def futureval(amt,interest,years):
    p=amt
    r=interest/100
    n=years
    I=p*(1+r)**n
    return I

In [ ]:
#checking the output
amt =10000
intr = 3.5 
years = 7 
futureval(amt,intr,years)

12722.792627665729

# Problem 07: Write a Python program that removes duplicate elements from a given array of numberssothat each element appears only once and returns the new length of the array. 
Sample Input: [0,0,1,1,2,2,3,3,4,4,4] 
Sample Output: 
The list of unique numbers: [0,1,2,3,4] 
length of the unique list : 5

In [ ]:
#Creating custom function for duplicate removal
def dup_rm(list_A):
    num=list(set(list_A))
    new_len=len(num)
    print(f"The list of unique numbers: {num}")
    print(f"length of the unique list : {new_len}")
    #return num,new_len

In [ ]:
#checking the function with sample input
A=[0,0,1,1,2,2,3,3,4,4,4]
print(A)
dup_rm(A)

[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 4]
The list of unique numbers: [0, 1, 2, 3, 4]
length of the unique list : 5

# Problem 08: Write a Python program to sort (ascending and descending) a dictionary by key value

In [43]:
#custom function for sorting dictionary

def dict_sort(dn):
  # sort dictionary ascending
  sorted_asc = dict(sorted(dn.items(), key=lambda item: item[0]))
  print(f"Your dictionary {dn} has been sorted ascendingly {sorted_asc}")
  
  # sort dictionary descending 
  sorted_desc = dict(sorted(dn.items(), key=lambda item: item[0], reverse=True))
  print(f"Your dictionary {dn} has been sorted descendingly {sorted_desc}")
  
  #return sorted_asc, sorted_desc

In [44]:
#checking the custom function with a sample input
d={'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
dict_sort(d)

Your dictionary {'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1} has been sorted ascendingly {'.': 1, 'c': 1, 'e': 1, 'g': 2, 'l': 1, 'm': 1, 'o': 3}
Your dictionary {'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1} has been sorted descendingly {'o': 3, 'm': 1, 'l': 1, 'g': 2, 'e': 1, 'c': 1, '.': 1}

In [45]:
#checking the custom function with another sample input
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict_sort(car)

Your dictionary {'brand': 'Ford', 'model': 'Mustang', 'year': 1964} has been sorted ascendingly {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Your dictionary {'brand': 'Ford', 'model': 'Mustang', 'year': 1964} has been sorted descendingly {'year': 1964, 'model': 'Mustang', 'brand': 'Ford'}

# problem 09: Write a Python program to add key to a dictionary. Go to the editor 
Sample Dictionary : {0: 10, 1: 20} 
Expected Result : {0: 10, 1: 20, 2: 30}

In [81]:
#custom function for adding new key to a existing sample
def add_dict(d:dict, d1:dict):
  print(f"Sample Dictionary: {d}")
  print(f"You new key is: {d1}")
  d.update(d1)
  print(f"Your updated dictionary: {d}")

In [84]:
#creatin a sample and a new key to check whethere custom add_dict function is working properly
sample={0: 10, 1: 20}
d1={2: 30}
add_dict(sample,d1)

Sample Dictionary: {0: 10, 1: 20}
You new key is: {2: 30}
Your updated dictionary: {0: 10, 1: 20, 2: 30}

# Problem 10: Write a Pandas program to create and display a DataFrame from a specified dictionarydatawhich has the index labels. 
Sample Python dictionary data and list labels: 
exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [89]:
import pandas as pd
def dict_to_df(data,labels):
  data=pd.DataFrame(data,index=labels)
  return data

In [91]:
exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
dict_to_df(exam_data,labels)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes